<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="EVMSDb"
			 connectionString="Data Source=DESKTOP-1HO9NHN;Initial Catalog=EVMS;Integrated Security=True;Trust Server Certificate=True"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>
